<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/timg1.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="images/timg2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="images/timg3.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev"><i class="tn-angle-left"></i></a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><i class="tn-angle-right"></i></a>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne">
                    帝都——北京
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse ">
            <div class="panel-body">
                作为我国的政治和文化中心，古老而富有韵味之中又有现代都市繁华的庞大城区，向东南方铺展的广阔平原，加之逶迤蜿蜒、镇守城区西北的太行山脉和燕山山脉，成就了北京独特的魅力。园林遗迹，古刹皇陵，给北京城注入了深厚的人文底蕴；峻崖曲壑，丽泉飞瀑，为城郊挂上了一层神秘的面纱；而人来人往的步行街和星罗棋布的商业区，则为这座古老的城市增添了时代的新生命力。
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseTwo">
                    鹏城——深圳
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                深圳这座新兴的城市整洁美丽，四季草木葱笼，当地政府因地制宜地开发了不少旅游景点，将自然风光与人工建筑巧妙结合。深圳历史悠久，文化发达，旅游资源也十分丰富，保存在地上、地下的文物古迹十分丰富。东临大鹏湾，西连珠江口，南邻香港，与九龙半岛接壤，与香港新界一河之隔，被称为“香港的后花园”。
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseThree">
                    古都——西安
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                世界著名古都，历史上先后有西周、秦、西汉、新莽、东汉、西晋、前赵、前秦、后秦、西魏、北周、隋、唐等13个王朝在西安建都。“天然历史博物馆”不仅有秦代的兵马俑，还有革命战争时期的西安事变旧址、延安革命旧址。
            </div>
        </div>
    </div>
</div>
